<a href="https://colab.research.google.com/github/Reinaldos/Reinaldos/blob/main/C%C3%B3pia_de_Projeto_Modulo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Projeto de Encerramento do Módulo 04 - Grupo 08**
##Análise exploratória relacionada à série histórica de preço de venda da gasolina e do etanol

**Fonte de Dados Utilizada** 

*   Portal Brasileiro de Dados Abertos - https://dados.gov.br/anp
*   Base de Dados da Agência Nacional do Petróleo, Gás Natural e Biocombustíveis - ANP referente aos meses de junho e julho de 2021 contendo a série histórica dos preços da gasolina e do etanol em todo o Brasil disponíveis no portal

###Importando Base de Dados
####Importando bibliotecas Pandas e Nunpy

In [3]:
import pandas as pd
import numpy as np

##**Base de dados junho de 2021**

In [4]:
junho21 = pd.read_csv ('https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2021/2021-06-gasolina-etanol.csv', sep = ';')
junho21

      Região - Sigla  ...                      Bandeira
0                  N  ...  PETROBRAS DISTRIBUIDORA S.A.
1                  N  ...  PETROBRAS DISTRIBUIDORA S.A.
2                  N  ...  PETROBRAS DISTRIBUIDORA S.A.
3                  N  ...  PETROBRAS DISTRIBUIDORA S.A.
4                  N  ...                        BRANCA
...              ...  ...                           ...
49732             NE  ...                        BRANCA
49733             NE  ...                        BRANCA
49734             SE  ...                        BRANCA
49735             SE  ...                        BRANCA
49736             SE  ...                        BRANCA

[49737 rows x 16 columns]

##**Base de dados julho de 2021**

In [5]:
julho21 = pd.read_csv ('https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2021/2021-07-gasolina-etanol.csv', sep = ';')
julho21

      Região - Sigla  ...                      Bandeira
0                 NE  ...                      IPIRANGA
1                 NE  ...                      IPIRANGA
2                 NE  ...                      IPIRANGA
3                 NE  ...  PETROBRAS DISTRIBUIDORA S.A.
4                 NE  ...  PETROBRAS DISTRIBUIDORA S.A.
...              ...  ...                           ...
47844             SE  ...                        BRANCA
47845             SE  ...                        BRANCA
47846             SE  ...                        BRANCA
47847             SE  ...                    RIO BRANCO
47848             SE  ...                    RIO BRANCO

[47849 rows x 16 columns]

In [6]:
tabela_completa = pd.concat([junho21, julho21])
tabela_completa.head()

  Região - Sigla Estado - Sigla  ... Unidade de Medida                      Bandeira
0              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
1              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
2              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
3              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
4              N             AC  ...        R$ / litro                        BRANCA

[5 rows x 16 columns]

##ABAIXO O CÓDIGO PARA SUBSTITUIR VIRGULA POR PONTO PARA QUE SEJA POSSÍVEL FAZER O CÁLCULO DA MÉDIA

In [7]:
tabela_completa['Valor de Venda'] = tabela_completa['Valor de Venda'].apply(lambda x:str(x).replace(",","."))

##DEPOIS PRECISAMOS CONVERTER A TABELA 'VALOR DE VENDA' PARA O TIPO FLOAT

In [8]:
tabela_completa['Valor de Venda']=tabela_completa['Valor de Venda'].astype('float64')

In [9]:
tabela_completa.groupby(by='Produto')['Valor de Venda'].mean()

Produto
ETANOL                4.581825
GASOLINA              5.734739
GASOLINA ADITIVADA    5.880734
Name: Valor de Venda, dtype: float64

###Análise I
####Comportamento do preço dos combustíveis

###Análise II
####Preço médio da gasolina e do etanol

###Análise III
####Estados com o preço médio da gasolina e do etanol mais caros

###Análise IV
####Preço médio da gasolina e do etanol por Estado

###Análise V
####Município que possui o menor preço para a gasolina e para o etanol

###Análise VI
####Município que possui o maior preço

###Análise VII
####Região que possui o maior valor médio da gasolina

###Análise VIII
####Região que possui o menor valor médio do etanol

###Análise IX
####Valor do combustível X Região
#####Correlação entre o valor do combustível (gasolina e etanol) e região onde ele é vendido

###Análise X
####Valor do combustível X Bandeira
#####Correlação entre o valor do combustível (gasolina e etanol) e a bandeira que vende ele

###Análise Extra I

###Análise Extra II